*.phar

# IDEs
.idea/
nbproject/
.vscode/**
!.vscode/settings.json

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
